
.hero {
    max-width: 767px;
    background-color: var(--add-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/mobile-img.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    padding: 118px 0;
    margin: 0 auto;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/mobile-img@2x.jpg');
    }

}
.hero__title {
    color: var(--add-color-2);
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
    margin: 0 auto 30px;
    letter-spacing: 0.06em;
    font-weight: 900;
    text-transform: uppercase;
}

.hero__btn {
    color: var(--add-color-2);
    background-color: var(--accent-color);
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.98;
    letter-spacing: 0.03em;
    padding: 10px 24px;
    font-weight: 700;
    border-radius: 4px;
}



@media screen and (min-width: 768px) {
    .hero{
        max-width: 1200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/tablet-img.jpg');
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/tablet-img@2x.jpg');
    }

    }   
}
@media screen and (min-width: 1200px) {
    .hero{
        max-width: 1600px;
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/Img.jpg');
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/Img@2x.jpg');
        
    }
    }
        .hero__title {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
        
        .hero__btn {
            padding: 10px 32px;
        }
}



