.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section__title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.section--padding {
    padding-top: 0;
}
.section--other-bg {
    background-color: var(--add-color-3);
}